html
  head
  body
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    meta(name='description', content='description')
    meta(name='keywords', content='keywords')
    meta(name='author', content='author')
    link(rel='stylesheet', type='text/css', href='stylesheets/default.css', media='screen')
    title FOOD FOR YOU
    .container
      .gfx
        span
      .top
        .navigation
          a(href='index')   HOME
          a(href='give')                  GIVE
          a(href='take')                  TAKE
          a#selected(href='about')        ABOUT
        .pattern
          span
        .header
          h1 FOOD FOR YOU
          p Let's fight food waste together
        .pattern
          span
      .content
        .spacer
        .item
          .title Why food waste?
          .body
            p
              | Nowadays we are facing numerous challenges across the world. We are aware of global warming, air pollution, environmental accidents. But there are still plenty of issues we are not aware such as Food Waste.
            img.left(src='images/logo.png', width='180', height='152', alt='sample image')
            p
              | While many of us lucky enough to have some food on our dining table, the reality for millions upon millions of people around the world is that they simply do not have any food to eat.
            p
              | While we should be grateful for what we have, our relationship with food waste is often shows the opposite. And this relationship is the source for the problems on a global scale. Most of the European countries already started to take actions and now it is the time to address this issue in Taiwan.
        .divider
          span
        .item
          .title How will we fight food waste?
          .body
            p
              | There are many different restaurants, cafes, bakeries, stores etc. have to throw delicious, perfectly edible food at the end of the day to make fresh ones next day. Restaurants will have to register in our app, with their menu, photos, ratings/reviews and address and will show the "distance from you". This app will also help them to do the self-promotion.  They will place the left overs in a mystery boxes/bags and set a price (25-50% of the original price) or customers may leave their desired amount of money. As for user(customer), they will search through the list and pick a restaurant and will see the available time for pick up.
        .divider
          span
      .footer
        a  Template design by  XXXXXXXXXXXXXXXXXX
