html
  head
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    meta(name='description', content='description')
    meta(name='keywords', content='keywords')
    meta(name='author', content='author')
    link(rel='stylesheet', type='text/css', href='stylesheets/default.css', media='screen')
    title FOOD FOR YOU
  body
    .container
      .gfx
        span
      .top
        .navigation
          a(href='index')   HOME
          a#selected(href='give')                  GIVE
          a(href='take')                  TAKE
          a(href='about')                 ABOUT
        .pattern
          span
        .header
          h1 FOOD FOR YOU
          p Let's fight food waste together
        .pattern
          span
      .content
        .spacer
        .item
          .title
        .item
        .footer
          address  Template design by  XXXXXXXXXXXXXXXXXX
