body {
	margin: 0;
	backgound-color: MediumSeaGreen;
}
h1 {
	color: MidnightBlue;
	font-family: "Comic Sans MS", cursive, sans-serif1:00 AM 22/11/2019;
	font-size: 450%;
	text-align: center;
}
h2 {
	font-size: 40px;
}	

p {
	style: ruby;
	font-family:Georgia, serif; 
	border: 10px solid maroon;
	padding: 60px;
}

.hero-image{
	background-image: url("delicious-spanish-foods.jpg");
	background-color: #cccccc;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	opacity: 0.65;
	filter: alpha(opacity = 65);
}

.hero-text{
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%)
	top: 50%;
	left: 50%;
	color: DarkBlue;
	
}
	
div.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallety img{
	width: 100%;
	height: auto:
}

div.desc {
	padding: 0px;
	text-align: right;
}

* {
   box-sizing: border-box;
}

.responsive {
	padding: 6px;
	float:center;
	width: 100%;
}

@media only screen and(max-width: 700px) {
	.responsive {
	  width: 50%;
	  margin: 6px 0;
	}
}

@media only screen and(max-width: 500px){
	.responsive{
	   width: 100%;
	}
}

.clearfix: after{
	content: "";
	display: table:
	clear: both;
}