html
  head
  body
    meta(http-equiv='content-type', content='text/html; charset=iso-8859-1')
    meta(name='description', content='description')
    meta(name='keywords', content='keywords')
    meta(name='author', content='author')
    link(rel='stylesheet', type='text/css', href='stylesheets/default.css', media='screen')
    title FOOD FOR YOU
    .container
      .gfx
        span
      .top
        .navigation
          a(href='index')   HOME
          a(href='give')                  GIVE
          a#selected(href='take')                  TAKE
          a(href='about')                 ABOUT
        .pattern
          span
        .header
          h1 FOOD FOR YOU
          p Let's fight food waste together
        .pattern
          span
      .content
        .spacer
        h1 Here's the food available:
        ul
            li #{food_results}
                each f in food_results
                    li #{f.name}

      .footer
        a  Template design by  XXXXXXXXXXXXXXXXXX