<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>FOOD FOR YOU</title>
	<meta carset="UTF-8">
	<link rel="stylesheet" href="style.css">
</head>

<body>
<div class="hero-image">
   <div class="hero-text">
	<h1>Do you feel <em>hungry</em>?</h1>
	<br>
	<h2>Let's pick and go!!!</h2>
   </div>
</div>

<div class="responsive">
  <div class="gallery">
      	<img src="cavatoreItalian.jpg" alt="Cavatore Italian Restaurant" width="365" height="300">
	<div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="clearfix"></div>

<p>
<img src="cavatoreItalian.jpg" alt="Cavatore Italian Restaurant" 
style="float: left; width: 210px; height: 120px;">
<br>
This's an Italian restaurant in Taipei with good reputation in overall. 
The main courses of the restaurant is the best selling Pesto Spaghetti and its own homemade flavor pizza.</p>

<p>Bakery 1</p>
<p>Stall 2</p>
</body>
</html>